.name {
    font: bold 16px Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 20px;
}
.sidebar {
    font: italic 14px Arial, Verdana;
    color: blue;
    text-align: left;
    margin: 10px;
}